<div class="list-of-elements container">
    <table class="table table-hover table-borderless">
        <thead class="list-header">
            <tr>
                <th class="small-border" scope="col">Code</th>
                <th scope="col">Nom du client</th>
                <th scope="col">Agence</th>
                <th class="small-border" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="small-border">1</td>
                <td class="small-border">Mark</td>
                <td class="small-border">Otto</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
            <tr>
                <td class="small-border">2</td>
                <td class="small-border">Jacob</td>
                <td class="small-border">Thornton</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
            <tr>
                <td class="small-border">3</td>
                <td class="small-border">Larry the Bird</td>
                <td class="small-border">JSP</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
            <tr>
                <td class="small-border">1</td>
                <td class="small-border">Mark</td>
                <td class="small-border">Otto</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
            <tr>
                <td class="small-border">2</td>
                <td class="small-border">Jacob</td>
                <td class="small-border">Thornton</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
            <tr>
                <td class="small-border">3</td>
                <td class="small-border">Larry the Bird</td>
                <td class="small-border">JSP</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i></button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>