<app-add-button></app-add-button>
<div class="list-of-elements container">
    <table class="table table-hover table-borderless">
        <thead class="list-header">
            <tr>
                <th class="small-border" scope="col" *ngFor="let header of headers">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td class="small-border">{{ client.clientId }}</td>
                <td class="small-border">{{ client.name }}</td>
                <td class="small-border">{{ client.agency.name }}</td>
                <td class="small-border">
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-outline-primary" (click)="deleteClient(client)"><i class="bi bi-trash3"></i></button>
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>