<div class="list-of-elements container">
    <table class="table table-hover table-borderless">
        <thead class="list-header">
            <tr>
                <th class="first" scope="col">Code</th>
                <th scope="col">Nom du client</th>
                <th scope="col">Agence</th>
                <th class="last" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
            <tr>
                <td class="first">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
            <tr>
                <td class="first">3</td>
                <td>Larry the Bird</td>
                <td>JSP</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
            <tr>
                <td class="first">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
            <tr>
                <td class="first">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
            <tr>
                <td class="first">3</td>
                <td>Larry the Bird</td>
                <td>JSP</td>
                <td class="last">
                    <button type="button" class="btn btn-outline-primary">add<i class="bi bi-file-earmark-plus"></i></button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i>add</button>
                    
                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-trash3"></i>add</button>

                    <button type="button" class="btn btn-outline-primary"><i class="bi bi-list-ul"></i>add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>